<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>PreferenceSpecifiers</key>
	<array>
		<dict>
			<key>Type</key>
			<string>PSTextFieldSpecifier</string>
			<key>AutocorrectionType</key>
			<string>No</string>
			<key>Title</key>
			<string>FOO</string>
			<key>AutocapitalizationType</key>
			<string>None</string>
			<key>IsSecure</key>
			<false/>
			<key>Key</key>
			<string>FOO</string>
			<key>DefaultValue</key>
			<string>http://blecj.ick</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSToggleSwitchSpecifier</string>
			<key>Title</key>
			<string>PassThroughSync</string>
			<key>Key</key>
			<string>PassThroughSync</string>
			<key>DefaultValue</key>
			<string>YES</string>
			<key>TrueValue</key>
			<string>YES</string>
			<key>FalseValue</key>
			<string>NO</string>
		</dict>
	</array>
	<key>StringsTable</key>
	<string>Root</string>
</dict>
</plist>
